*{
    font-family: cursive !important;
}

.check-box{
    --border-radius:10px !important;
    --border-color:black !important;
    --border-style:solid !important;
    --border-width:1px !important;
    --background:#3e3e3e;
    --background-checked:#3e3e3e;
    --border-color-checked:#3e3e3e;
    --checkmark-color:#3171e0;
}

.input-modal{
    --ion-background-color:#3e3e3e;
    --height:10rem;
    --border-radius:5px;
}

.fab-bottom-margin{
    margin-bottom: 70px;
}

.fab-color{
    --background:#3171e0
}

.toolbar-title {
    font-size:16px;
    text-overflow: inherit;
    white-space: normal;
}

.p-headings{
    font-size:20px !important;
    color:black;
}

.input-value{
    --placeholder-color:#d2d2d2;
    --padding-top:10px;
    --padding-start:25px;
    --padding-end:25px;
    --color:#b3aeae;
    caret-color: #3171e0;

}

.save-button-position{
    display: flex;
    justify-content: flex-end;
    margin:5px 20px 10px 0px ;
}

.save-button{
    background:#3171e0;
    width: fit-content;
    padding:8px;
    border-radius: 5px;
}
.divider{
    margin-top: 5px;
}
.flex-box{
    display: flex;
    flex-direction: column;
}

.toolbar-height{
    --min-height: 45px;
}
